body{
  font-family: "Lato", sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a.btn-google{
  text-decoration: none;
  color: #777;
}

a.btn-google:visited{
  text-decoration: none;
  color: #777;
}

.btn-google__content{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  background: #ffffff;
  padding: .2rem 1rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn-google__content img{
  padding: 0;
}