$color-primary: #ffffff;
$color-secondary: #ffffff;
$color-success: #ffffff;
$color-danger: #ffffff;
$color-warning: #ffffff;
$color-info: #ffffff;
$color-light: #ffffff;
$color-dark: #ffffff;
$color-muted: #ffffff;
$color-white: #ffffff;

$bg-primary: #ffffff;
$bg-secondary: #ffffff;
$bg-success: #ffffff;
$bg-danger: #ffffff;
$bg-warning: #ffffff;
$bg-info: #ffffff;
$bg-light: #ffffff;
$bg-dark: #ffffff;
$bg-white: #ffffff;

// FONT
$default-font-size: 1.6rem;